*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

 /* Header y Footer  */

 html{
    font-size: 16px;font-family: 'roboto', sans-serif;
}

body{
    
}

 /* Header y Footer  */
 .checkbox {
    display: none;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10;
    
}

.headercontainer{
    width: 90%;
    position: relative;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn-label {
    width: 2rem;
    height: 1.4rem;
}

.header-button {
    width: 2rem;
    height: 0.2rem;
    background: #000;
    position: absolute;
    top: 1.9rem;
    transition: all 0.2s;
}
.header-button::before,
.header-button::after {
    content: "";
    width:  2rem;
    background: #000;
    position: absolute;
    top: : -0.6rem;

}
.menu{
    background: #d1d1d1;
    width: 100%;
    height: 10rem;
    position: fixed;
    z-index: 9;
    top: -12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
    transition: all 0.5s;
}

ul{
    list-style: none;
}
li{
    margin: 0.5rem;
}

a{
    margin: 0.1rem;
    color: #000;
    text-decoration: none;
}
.checkbox:checked ~ .menu {
    background: #fff;
    top: 0rem;
  }
  .checkbox:checked + header .header-container label .header-button {
    background: none;
  }
  .checkbox:checked + header .header-container label .header-button::before {
    transform: rotate(35deg);
    top: 0;
  }
  .checkbox:checked + header .header-container label .header-button::after {
    transform: rotate(-35deg);
    top: 0;
  }

  footer{
    text-align: center;
}
 
.footer{
    grid-area: footer;
    background-color: #f85032;
    color: black;
    text-align: center;
    
}


/* Otros Estilos */

/* /////////Selector Universal////// */

*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    
}

 /* /////////////////////////Header y Footer ///////////////// */

 header{
    background-image: url(../multimedia/Fondos/header\ 2.png);
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
}

header a{
    color: black;
    text-decoration: none;
}

footer{
    color: black;
    text-align: center;
    font-size: 15px;
    background-image: url(../multimedia/Fondos/header\ 2.png);
    padding: 10px;
    width: 100%;
}

/* //////////////////Otros Estilos ////////////////////*/
body{
    font-size: 15px;
}

div{
  padding: 20px;
  
}

 
 /*/////////////////// Imagenes ///////////////*/

.img1{
    width: 550px;
    height: 400px;
    float: right;  
    padding-right: 100px;
    object-fit: cover;
}
.img2{
    background-color: lightgrey;
  width: 350px;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}
.img3{
    background-color: lightgrey;
  width: 350px;
  height: 220px;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}
.img4{
    background-color: lightgrey;
  width: 350px;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}
.img5{
    background-color: lightgrey;
    width: 350px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}
.img6{
    background-color: lightgrey;
    width: 350px;
    border: 2px solid black;
    padding: 3px;
    margin: 5px;
}
.img7{
    background-color: lightgrey;
    width: 350px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

.contenedorimagenes{
    float: right;
}


/* /////////////Textos, Listas y Mas//////// */

ul{
    padding: 25px;
}
p,b {
    padding: 10px;
}
hr{
    padding: 5px;
    border: blue solid 1px;
    padding-bottom: 10px;
}
h1{

    text-align: center;
    color: gold;
    padding-bottom: 30px;

}
h2{
    text-align:left;
    color: gray;
    padding-bottom: 5px;
    padding-left: 5px;
}

h4{
    text-align: center;
}

.contenedor1 { 
    border: 2px blue solid;
    background-color:  antiquewhite;
    position: absolute;
    
 
    
 }
 .posada {
     border: 1px;
     background-color:lemonchiffon;
     position: relative;
     font-family:cursive;
     font-size:large;
 }